@import '~@angular/material/prebuilt-themes/indigo-pink.css';

body {
  margin: 0;
  font-family: Roboto, sans-serif;
}

.container {
  max-width: 70%;
  margin: 2em auto;
  text-align: center;
}

md-toolbar-row {
  justify-content: space-between;
}

.candidate-card {
    width: 300px!important;
}
.mat-card-subtitle {
    text-align: left!important;
}

.info {
    text-align: left!important;
}

.mat-list-icon {
  color: rgba(0, 0, 0, 0.34);
}

md-input-container {
    width: 350px!important;
}

img.mat-card-image {
    width: 300px!important;
    transition: box-shadow 0.3s ease;
    -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
    box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.06);
}