<div>
  <md-toolbar color="primary">
    <span><md-icon>mood</md-icon></span>
    <span>Candidate search</span>
    <md-icon>search</md-icon>
  </md-toolbar>
  <md-card class="container">
    <md-input-container>
      <input mdInput type="search" placeholder="Search" [mdAutocomplete]="auto" [formControl]="candidateSearchField">
      <md-hint align="start">Search by city or candidate name</md-hint>
    </md-input-container>
    <md-autocomplete #auto="mdAutocomplete">
      <md-option *ngFor="let state of filteredCities | async" [value]="state">
        {{ state }}
      </md-option>
    </md-autocomplete>
    <md-grid-list cols="3" rowHeight="700px">
      <md-grid-tile *ngFor="let candidate of candidateResults | async">
        <md-card class="candidate-card">
          <md-card-header>
            <img md-card-avatar src="{{candidate.picture_thumbnail}}">
            <md-card-title>{{candidate.title}} {{candidate.first_name}} {{candidate.last_name}}</md-card-title>
            <md-card-subtitle>{{candidate.city}}</md-card-subtitle>
          </md-card-header>
          <img md-card-image src="{{candidate.picture_large}}">
          <md-card-content>
            <md-icon *ngFor="let index of range(candidate.stars)">grade</md-icon>
            <md-list>
              <md-list-item>
                <md-icon md-list-icon>phone</md-icon>
                <p md-line class="info"> {{candidate.phone}} </p>
              </md-list-item>
              <md-list-item>
                <md-icon md-list-icon>email</md-icon>
                <p md-line class="info"> {{candidate.email}} </p>
              </md-list-item>
              <md-list-item>
                <md-icon md-list-icon>face</md-icon>
                <p md-line class="info"> {{candidate.username}} </p>
              </md-list-item>
            </md-list>
          </md-card-content>
          <md-card-actions>
            <button md-button>Hire</button>
            <button md-button>Share</button>
          </md-card-actions>
        </md-card>
      </md-grid-tile>
    </md-grid-list>
  </md-card>
</div>
