{% load static %}
<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Search</title>
  <base href="/">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link href="{% static 'search/styles.bundle.css' %}" rel="stylesheet" />
</head>

<body>
  <app-root></app-root>
  <script type="text/javascript" src="{% static 'search/inline.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'search/polyfills.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'search/vendor.bundle.js' %}"></script>
  <script type="text/javascript" src="{% static 'search/main.bundle.js' %}"></script>
</body>

</html>
